{% extends 'layout.html' %}
{% load static %}

{% block header %}
    <header class="bg-primary bg-gradient text-white" style="min-height: 25vh">
        <div class="container px-1 text-center">
            <h1 class="fw-bolder display-3 py-5">{% block title %}Ventas{% endblock title %}</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container mt-lg-3">
        
        <h2 class="fw-bolder display-5 my-4">Ventas</h3>
        <div class="d-grid gap-3">
            <a href="" class="btn btn-primary">Crear Venta</a>
            <a href="" class="btn btn-primary">Ver Ventas</a> <br>
        </div>
                
        {% url 'home:index' as url %}
        {% include 'index_back.html' with link=url %}
    </div>
{% endblock content %}
    
    